<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- basic info -->
    <title>Local Instant Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- icons -->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="mobile_icon.png">
  </head>

  <body>
    <div class="container">
      <div>
        <button class="btn btn-default pull-right" href="#" data-target="#settings-modal" data-toggle="modal">
          <i class="glyphicon glyphicon-cog"></i> Settings
        </button>

        <h1 id="topic">
          Local Instant Messenger
        </h1>
      </div>

      <div class="row">
        <div class="col-md-9">
          <ul id="conversation" class="list-group"></ul>
        </div>
        <div id="member-list" class="col-md-3"></div>
      </div>

      <div id="input-bar" class="input-group">
        <input id="input" class="form-control" type="text" autofocus>
        <span class="input-group-btn">
          <button id="send-button" class="btn btn-primary">Send</button>
        </span>
      </div>
    </div>

    <div id="settings-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-white"></i></button>
            <h3>Settings</h3>
          </div>
          <div class="modal-body">
            <h4>Topic</h4>
            <input type="text" id="topic-input"></input>

            <h4>Interface</h4>
            <label for="switch_user_after_posted_message_box">
              <input type="checkbox" id="switch_user_after_posted_message_box" checked>
              Switch user after a message is posted
            </label>
            <label for="switch_user_after_blank_message_box">
              <input type="checkbox" id="switch_user_after_blank_message_box" checked>
              Switch user after a blank message is entered
            </label>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
            <a href="#" class="btn btn-primary" id="settings-save-button">Save</a>
          </div>
        </div>
      </div>
    </div>

    <script id="message-template" type="text/template">
      <li class="list-group-item">
        <h4 class="list-group-item-heading"><%= user %></h4>
        <p class="list-group-item-text message"><%= message %></p>
      </li>
    </script>

    <script id="user-template" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">Members</div>
        <ul class="list-group">
          <% _.each(users, function(user, uid) { %>
            <li class="list-group-item user-<%= uid %>"><%= user %></li>
          <% }); %>
        </ul>
      </div>
    </script>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="scripts.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </body>
</html>
