<!DOCTYPE html>
<html lang="en" ng-app="Local Instant Messenger" ng-controller="ConversationController">
  <head>
    <meta charset="utf-8">
    <!-- basic info -->
    <title>{{ topic || 'Local Instant Messenger' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- icons -->
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="mobile_icon.png">
  </head>

  <body>
    <div class="container">
      <div>
        <button class="btn btn-default pull-right" href="#" data-target="#settings-modal" data-toggle="modal">
          <i class="glyphicon glyphicon-cog"></i> Settings
        </button>

        <h1 id="topic">{{ topic || 'Local Instant Messenger' }}</h1>
      </div>

      <div class="row">
        <div class="col-md-9">
          <ul id="conversation" class="list-group">
            <li class="list-group-item" ng-repeat="message in messages">
              <h4 class="list-group-item-heading">{{ message.user }}</h4>
              <p class="list-group-item-text message">{{ message.message }}</p>
            </li>
          </ul>
        </div>
        <div id="member-list" class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Members</div>
            <div class="list-group">
              <a href="#" class="list-group-item" ng-repeat="user in users" ng-class="{active: user === users[currentUID]}">{{ user }}</a>
            </div>
          </div>
        </div>
      </div>

      <form id="input-bar" class="input-group" ng-submit="addMessage()">
        <input id="input" class="form-control" type="text" ng-model="input" autofocus>
        <span class="input-group-btn">
          <input id="send-button" class="btn btn-primary" type="submit" value="Send">
        </span>
      </form>
    </div>

    <div id="settings-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Settings</h4>
          </div>

          <form class="modal-body" role="form">
            <div class="form-group">
              <label for="topic">Topic</label>
              <input type="text" class="form-control" id="topic" ng-model="topic" placeholder="Local Instant Messenger">
            </div>

            <strong>Switch user...</strong>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="switchUserAfterPostedMessage">
                after a message is displayed
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="switchUserAfterBlankMessage">
                after a blank message is entered
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="scripts.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </body>
</html>
