body {
	height: 100%;
}
html {
	height: 100%;
}

#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#chat {
	border: 1px solid #888;
}

#chat .user {
	vertical-align: top;
	display: inline-block;
	border: 1px solid #888;
	width: 125px;
	padding: 4px;
}

#chat .message {
	display: inline-block;
	border: 1px solid #888;
	padding: 4px;
	/* container width - user width - 22 */
	width: 603px;
}

#input-box {
	width: 100%;
}
