body {
	height: 100%;
	color: #bbb;
}

#container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

#chat, #chat tr, #chat td {
	border: 1px dashed #757c82;
}

.user {
	text-align: right !important;
	vertical-align: top;
	width: 125px;
	padding: 4px;
}

.message {
	text-align: left;
	/* container width - user width - 22 */
	width: 603px;
}

#input-container {
	text-align: center;
}

#input-container * {
	vertical-align: top;
}

#chat {
	margin-bottom: 0px;
}

#toolbar {
	margin: 15px 0px;
}

/*Info, Success, Warning, Danger*/
.user-0 {
	color: #49afcd;
}
.user-1 {
	color: #51a351;
}
.user-2 {
	color: #faa732;
}
.user-3 {
	color: #da4f49;
}
.user-0.active, .user-1.active, .user-2.active, .user-3.active {
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}
.user-0.active {
	background-color: #49afcd;
}
.user-1.active {
	background-color: #51a351;
}
.user-2.active {
	background-color: #faa732;
}
.user-3.active {
	background-color: #da4f49;
}
